/* * {
    font-family: monospace;
} */

html {
    font-size: 22px;
}

body {
    
}

main {
    font-family: monospace;
}

p {
    color: darkred;
}

.highlight {
    text-transform: uppercase;
    background-color: gold;
}

h1, h2 {
    color: blue;
}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}  